<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>DrAUN</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700"
    />
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css" />
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css" />
    <link rel="stylesheet" href="assets/fonts/line-awesome.min.css" />
    <link rel="stylesheet" href="assets/fonts/material-icons.min.css" />
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css" />
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css" />
    <link rel="stylesheet" href="assets/css/Features-Clean.css" />
    <link rel="stylesheet" href="assets/css/Footer-Basic.css" />
    <link rel="stylesheet" href="assets/css/Header-Blue.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"
    />
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css" />
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css" />
    <link rel="stylesheet" href="assets/css/Navigation-with-Search.css" />
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css" />
    <link rel="stylesheet" href="assets/css/styles.css" />
    <script>
      /* Pinegrow Interactions, do not remove */ try {
        if (!document.documentElement.hasAttribute("data-pg-ia-disabled")) {
          var style = document.createElement("style");
          var pgcss =
            'html:not(.pg-ia-no-preview) [data-pg-ia-hide=""] {opacity:0;visibility:hidden;}html:not(.pg-ia-no-preview) [data-pg-ia-show=""] {opacity:1;visibility:visible;display:block;}';
          if (
            document.documentElement.hasAttribute("data-pg-id")
              ? document.documentElement.hasAttribute("data-pg-mobile")
              : screen.width < 1000 && screen.height < 1000
          ) {
            pgcss +=
              'html:not(.pg-ia-no-preview) [data-pg-ia-hide="mobile"] {opacity:0;visibility:hidden;}html:not(.pg-ia-no-preview) [data-pg-ia-show="mobile"] {opacity:1;visibility:visible;display:block;}';
          } else {
            pgcss +=
              'html:not(.pg-ia-no-preview) [data-pg-ia-hide="desktop"] {opacity:0;visibility:hidden;}html:not(.pg-ia-no-preview) [data-pg-ia-show="desktop"] {opacity:1;visibility:visible;display:block;}';
          }
          style.innerHTML = pgcss;
          document.querySelector("head").appendChild(style);
        }
      } catch (e) {
        console && console.log(e);
      }
    </script>
  </head>
  <body>
    <div id="app" class="vh-100 vw-100 d-flex flex-column">
      <div class="container-fluid header" style="height: 50px;">
        <top-bar />
      </div>
      <div class="flex-grow-1">
        <div>
          <div class="form-group search-bar">
            <label for="search-field">
              <i
                class="fa fa-search search-field"
                id="search"
                name="search"
              ></i>
            </label>
            <input type="search" id="textinput" v-model="textinput" />
          </div>
          <div id="line"></div>
        </div>
        <div>
          <div
            @click="chat(doctor,index)"
            v-for="(doctor,index) in doctors"
            class="d-flex pt-1 pb-1 border border-success bg-secondary text-light mb-1 pr-4"
            data-pg-ia='{"l":[{"trg":"load","a":"slideInUp"}]}'
          >
            <i
              class="fas fa-user-circle"
              id="user1"
              style="font-size: 50px;margin: 0px 10px;"
            ></i>
            <div class="flex-grow-1 profile text-right" id="profile">
              <h6 class="text-left card-text">
                {{doctor.firstName ? doctor.firstName : doctor.customers[0].id
                !== myId ? doctor.customers[0].firstName:
                doctor.customers[1].firstName }}
              </h6>
              <p class="text-left card-text">
                {{doctor.firstName ? "Doctor": "Patient"}}
              </p>
            </div>
            <i class="icon-arrow-right" id="arrow"></i>
          </div>
        </div>
      </div>
      <bottom-bar />
    </div>
    <script src="assets/js/axios.min.js"></script>
    <script src="assets/js/vue.js"></script>
    <script src="assets/js/app.js"></script>
    <script>
      new Vue({
        el: "#app",
        data: {
          textinput: "",
          doctors: [],
          chatId: ""
        },
        computed: {
          myId() {
            return JSON.parse(localStorage.getItem("me")).id;
          }
        },
        async mounted() {
          try {
            let doctors = this.doctors;
            if (JSON.parse(localStorage.getItem("me")).isDoc) {
              let doc = await axios({
                url: "http://cmd.aun.edu.ng:3031/api/customers/me/chats",
                method: "get",
                headers: { Authorization: localStorage.getItem("token") }
              });

              this.doctors = doc.data;
              let es = new EventSource(
                `http://cmd.aun.edu.ng:3031/api/chats/change-stream?access_token=${localStorage.getItem(
                  "token"
                )}`
              );

              es.addEventListener("data", async data => {
                let c = JSON.parse(data.data).data;

                if (c.to == JSON.parse(localStorage.getItem("me")).id) {
                  // reload page on new chats
                  location.reload();
                }
              });
              // console.log(doc.data);
            } else {
              let doc = await axios({
                url: "http://cmd.aun.edu.ng:3031/api/customers",
                method: "get",
                headers: { Authorization: localStorage.getItem("token") },
                params: {
                  filter: JSON.stringify({
                    where: {
                      isDoc: true
                    }
                  })
                }
              });
              // console.log(doc.data);
              this.doctors = doc.data;
            }
          } catch (error) {
            console.log(error);
          }
        },
        methods: {
          async chat(doc, index) {
            if (doc.isDoc) {
              let created = await this.createOrChat(doc, index);
              localStorage.setItem("to", JSON.stringify(doc));
              localStorage.setItem("chat", this.chatId);
              window.location.href = "/chat.html";
            } else {
              Array.from(doc.customers).forEach(meId => {
                console.log(meId);
                if (meId.id !== doc.to) {
                  localStorage.setItem("to", JSON.stringify(meId));
                  localStorage.setItem("chat", doc.id);
                }
              });
              window.location.href = "/chat.html";
            }
          },

          async createOrChat(item, index) {
            // check if chat exist else create
            let ex = await axios({
              url: "http://cmd.aun.edu.ng:3031/api/customers/me/chats",
              method: "get",
              headers: {
                authorization: localStorage.getItem("token")
              }
            });

            let exist = Array.from(ex.data).filter(dd => {
              return dd.to == item.id;
            });

            if (exist.length == 0) {
              let createChat = await axios({
                url: "http://cmd.aun.edu.ng:3031/api/customers/me/chats",
                method: "post",
                headers: {
                  authorization: localStorage.getItem("token")
                },
                data: {
                  to: item.id,
                  from: JSON.parse(localStorage.getItem("me")).id
                }
              });
              // set chatId on vue data
              this.chatId = createChat.data.id;

              let addCustomer = await axios({
                url: `http://cmd.aun.edu.ng:3031/api/chats/${createChat.data.id}/customers/rel/${item.id}`,
                method: "put",
                headers: {
                  authorization: localStorage.getItem("token")
                }
              });
              console.log("Created Chat");
              return true;
            } else {
              console.log(exist);
              this.chatId = exist[0].id;
              return false;
            }
          }
        }
      });
    </script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script type="text/javascript" src="pgia/lib/pgia.js"></script>
  </body>
</html>
