<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>DrAUN</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700"
    />
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css" />
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css" />
    <link rel="stylesheet" href="assets/fonts/line-awesome.min.css" />
    <link rel="stylesheet" href="assets/fonts/material-icons.min.css" />
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css" />
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css" />
    <link rel="stylesheet" href="assets/css/Features-Clean.css" />
    <link rel="stylesheet" href="assets/css/Footer-Basic.css" />
    <link rel="stylesheet" href="assets/css/Header-Blue.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"
    />
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css" />
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css" />
    <link rel="stylesheet" href="assets/css/Navigation-with-Search.css" />
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css" />
    <link rel="stylesheet" href="assets/css/styles.css" />
  </head>

  <body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
      <div class="container-fluid"><img src="assets/img/logo%201.png" /></div>
    </nav>
    <div id="app" class="register-photo">
      <div id="sin-form" class="form-container box-flex1">
        <h2 class="text-center"><strong>Create</strong> an account.</h2>
        <div id="form-cont1">
            <div class="form-group">
                <input
                  class="form-control jt"
                  type="text"
                  id="name"
                  name="name"
                  placeholder="Enter First and Last name"
                  v-model="name"
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control jt"
                  type="text"
                  id="IdNo"
                  name="ID"
                  placeholder="AUN ID"
                  v-model="IdNo"
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control jt"
                  type="email"
                  id="email"
                  name="email"
                  v-model="email"
                  placeholder="AUN Email"
                />
                <input
                  class="form-control jt"
                  type="password"
                  id="password"
                  placeholder="Password"
                  v-model="password"
                  name="Password"
                />
                <input
                  class="form-control jt"
                  type="password"
                  id="sp"
                  name="password-repeat"
                  placeholder="Password (repeat)"
                  required=""
                  v-model="sp"
                />
              </div>
              <div class="form-group">
                <div class="form-check">
                  <label class="form-check-label">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="check"
                      v-model="check"
                      name="checkbox"
                    />
                    Doctor ?
                  </label>
                </div>
              </div>
              <div class="form-group">
                <button
                  class="btn btn-primary btn-block"
                  id="btnsign"
                  @click="signup"
                >
                  Sign Up
                </button>
              </div>
              <a id="login" class="already" href="#" v-on:click="login"
                >You already have an account? Login here.</a
              >
            </div>
        </div>
      </div>
    </div>
    <script src="assets/js/axios.min.js"></script>

    <script src="assets/js/vue.js"></script>
    <script src="assets/js/app.js"></script>

    <script>
      new Vue({
        el: "#app",
        data: {
          name: "",
          IdNo: "",
          email: "",
          password: "",
          sp: "",
          check: false
        },
        methods: {
          async signup(ev) {
            try {
              //password validation
              if (this.password !== "" && this.sp !== "") {
                if (this.password == this.sp) {
                  let sign = await axios({
                    method: "post",
                    url: "http://localhost:3031/api/customers",
                    data: {
                      email: this.email,
                      idNumber: this.IdNo,
                      firstName: this.name,
                      password: this.password,
                      isDoc: this.check
                    }
                  });
                  alert("Account Created");
                  window.location.href = "Login.html";
                } else {
                  alert("CHeck your password");
                }
              }
            } catch (error) {
              alert(error);
            }
          },
          login() {
            window.location.href = "Login.html";
          }
        }
      });
    </script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
  </body>
</html>
