.row.title {
  align-self: center;
  top: inherit;
  bottom: initial;
}
#signup {
  color: #C12222;
  background-color: #0C426F;
  font-weight: 800;
  align-self: right;
}
#btnsign {
  background-color: #0C426F;
  color: #C12222;
  font-weight: 800;
}
.parent {
  display: flex;
  flex-direction: column;
}
.header {
  height: 50px;
  display: flex;
  flex-direction: row;
}
.bdy-hm {
  display: flex;
  flex-direction: column;
  height: 710px;
}
.f-wrap {
  background-color: #0c426f;
}
.f-wrap1 {
  display: flex;
  justify-content: space-between;
  background-color: #0c426f;
}
#tab1 {
  align-self: center;
  margin-left: 20%;
  padding-right: 20% ;
}
#lar {
  align-self: center;
}
#tab2 {
  align-self: center;
  margin-left: 20%;
  padding-right: 20% ;
}
#home {
  align-self: center;
  padding-right: 10% ;
}
.chat-top {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #0c426f;
}
.body {
  display: flex;

  /* align-content: space-evenly
 */
  flex-direction: column;
  overflow: scroll;
  flex-grow: 1;
}
#user {
  height: 80px;
  border: 1px solid black;
  margin-top: 5px;
  width: 97%;
  margin: 5px;
}
.user-wrap {
  display: flex;
  flex-direction: column;
  height: 400px;
  margin-top: 40px;
}
.card-body {
  display: flex;
  flex-direction: row;
}
#search-field {
  width: 50%;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  border: none;
  color: transparent;
  flex: 100%;
}
#arrow {
  align-self: center;
}
#icon {
  align-self: center;
}
#tp {
  font-size: 20px;
  align-self: center;
}

/* .chat-head {
  background-color: #0c426f;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
 */

.flex-container {
  display: flex;
  flex-direction: column;
}
#modop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
}
#input-field {
  width: 80%;
  border: 1px solid #122360;
  margin-left: 5px;
}
.text_box {
  display: flex;
}
#password {
  margin-bottom: 15px;
}
#email {
  margin-bottom: 15px;
}
.pageWrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: fixed;
}
.loda {
  display: flex;
  flex-direction: row;
  align-self: center;
  flex: 1;
}
#rect1 {
  align-self: center;
}
#log-form {
  width: 80%;
  align-self: center;
  margin: 5%;
  border-radius: 5px;
}
#sin-form {
}
.page-cont {
  display: flex;
  flex-direction: column;
}
#form-cont {
  width: 90%;
  align-self: center;
}
#form-cont1 {
  width: 90%;
  margin: 5%;
}
.box-flex {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.box-flex1 {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
#login {
  align-self: left;
}
.lst-wrp {
  display: flex;
  flex-direction: row;
}
.lst-wrp>div {
  width: 45%;
}
.jt {
  background: #f7f9fc;
  border: none;
  border-bottom: 1px solid #dfe7f1;
}
html body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}