.row.title {
  align-self: center;
  top: inherit;
  bottom: initial;
}
#signup {
  width: 100px;
  color: #C12222;
  background-color: #0C426F;
  font-weight: 800;
  align-self: flex-end;
}
#btnsign {
  background-color: #0C426F;
  color: #C12222;
  font-weight: 800;
}
.flex-container.parent {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container-fluid.header {
  height: 80px;
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: #0c426f;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  align-items: flex-end;
}

#tab1 {
  padding: 10px;
}

#tab2 {
  padding: 10px;
}

#home {
  padding: 10px;
}

.body {
  display: flex;
  height: 520px;
  flex-direction: column;
}

#user {
  height: 80px;
  border: 1px solid black;
  margin-top: 5px;
  width: 97%;
  margin: 5px;
}

.user-wrap {
  display: flex;
  flex-direction: column;
  height: 400px;
  margin-top: 40px;
}

.card-body {
  display: flex;
  flex-direction: row;
}

#search-field {
  width: 50%;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  border: none;
  color: transparent;
  flex: 100%;
}

#arrow {
  align-self: center;
}

#icon {
  align-self: center;
}

#tp {
  font-size: 20px;
  align-self: center;
}

.chat-head {
  background-color: #0c426f;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

#modop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#input-field {
  width: 300px;
  border: 1px solid #122360;
  margin-left: 5px;
}

.text_box {
  display: flex;
}

#password {
  margin-bottom: 15px;
}

#email {
  margin-bottom: 15px;
}
.pageWrap{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: fixed;
}
.loda{
  display: flex;
  flex-direction: row;
  align-self:center;
  flex: 1;
}
#rect1 {
  align-self: center;
}
#log-form{
  width: 80%;
  align-self: center;
  margin: 5%;
  border-radius: 5px;
}
.page-cont{
  display: flex;
  flex-direction: column;

}
#form-cont{
  width: 90%;
  align-self: center;
}
.box-flex{
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
#login{

  align-self: flex-start;
}
.lst-wrp{
  display: flex;
  flex-direction: row;
}